@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #232317;
    -webkit-font-smoothing: antialiased;
}

.bg_video{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
}

.instruction{
    width: 30px;
    height: 30px;
    background-color: #e94057;
    margin: 2px;
    float: left;
    border-radius: 50%;
}


.activeVideo{
    background-color: #a38016;
}

.explication{
    background-color: #a38016;
    color: #970da3;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.block-container{
    overflow: hidden;
    max-height: 0;
    background-color: #ECECEC;
    transition: max-height .3s;
    padding-left: 20px;
    padding-right: 20px;
}

.bloque-contenido{
    padding: 1rem 2rem;
}

#controlButtons{
    padding:  10px;
    margin-bottom: 20px;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 85%;
    font-weight: bold;
}

#btnNext{
    position: absolute;
    left:95%;
}

#btnPlay{
    position: absolute;
    left:45%
}

#btnPause{
    position: absolute;
    left:50%
}

button{
    background-color: #f0b708;
    border-radius: 20%;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #20f7c4;
}